Source: alternc-cmsscanner
Section: admin
Priority: optional
Maintainer: Benjamin Sonntag <benjamin@sonntag.fr>
Build-Depends: debhelper (>= 9),
               devscripts,
               git
Standards-Version: 3.9.8

Package: alternc-cmsscanner
Architecture: all
Depends: alternc (>= 3.3)
       , cmsscanner
       , gettext (>= 0.10.40-5)
Description: Scan CMS hosted by AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, etc.
 .
 This extension for AlternC uses cmsscanner to scan either the entire
 server or one AlternC account for known PHP software, and reports
 their name and version. This allow you to then scan those software for changes
 from the original source code, and detect issues. 
 .
 More information at https://alternc.org/
Homepage: https://alternc.org/